/*
Color Palette
#F5DC93 - light yellow
#F6D677 - dark yellow
#B64791 - purple
#F7F7F7 - white
#1D2D44 - dark blue
#0D1321 - black
*/

::selection {
  background-color: #B64791;
}

body {
  background-color: #F7F7F7;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

h1, h2 {
  color: #1D2D44;
}

p, a {
  color: #0D1321;
}

a:hover {
  text-decoration: none;
  color: #B64791;
}

img {
  width: 100%;
  max-width: 640px;
}

.main__article {
  transition: .5s;
}

.button {
  color: #B64791;
  padding: 10px;
  display: inline-flex;
  border: 2px solid #B64791;
  border-radius: 3px;
  transition: .2s;
  margin-bottom: 50px;
  cursor: pointer;
}

.button:hover {
  background-color: #B64791;
  color: #F7F7F7;
  transition: .2s;
}

.text--white {
  color: #F7F7F7;
}

.text--white:hover {
  color: #F6D677;
}

.yellow {
  background-color: #F5DC93;
}

.ouch {
  background-color: #B64791;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  line-height: 1.4;
}
